<% @title = 'Sign Up' %>

<div class="title"><%= @title %></div>

<div class="content">
  <div class="form">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <table class="form">
        <%= devise_error_messages! %>
        <tr><td><%= f.label :first_name %></td><td><%= text_field :user, :first_name %></td><td class="field-status" id="first_name_status"></td></tr>
        <tr><td><%= f.label :last_name %></td><td><%= text_field :user, :last_name %></td><td class="field-status" id="last_name_status"></td></tr>
        <tr><td><%= f.label :email %></td><td><%= f.text_field :email %></td></tr>

        <tr><td><%= f.label :password %></td><td><%= f.password_field :password %></td></tr>

        <tr><td><%= f.label :password_confirmation %></td><td><%= f.password_field :password_confirmation %></td></tr>
      </table>
      <div class="submit"><%= f.submit "Sign up" %></div>
    <% end %>
  </div>
</div>

<%#= render :partial => "devise/shared/links" %>

<% content_for :script do %>
  <%= javascript_tag do %>
    Event.observe(window, 'load', function(){
      new Form.Element.Observer('user_first_name', 0.25, function(element, value) {checkLength('user_first_name', 'first_name_status', 2);});
      new Form.Element.Observer('user_last_name', 0.25, function(element, value) {checkLength('user_last_name', 'last_name_status', 2);});
      new Form.Element.Observer('user_email', 0.25, function(element, value) {checkRegex('user_email', 'email_status', /^( )*[A-Z0-9._%-]+@([A-Z0-9-]+\\.)+[A-Z]{2,4}( )*$/i );});
      new Form.Element.Observer('user_password', 0.25, function(element, value) {checkLength('user_password', 'password_status', 6);});
      new Form.Element.Observer('user_password_confirmation', 0.25, function(element, value) {checkMatch('user_password', 'user_password_confirmation', 'password_confirmation_status');});
    });
  <% end %>
<% end %>