- [true, false].each do |spending|
  - entries = @entries.select { |e| e.billing_date == iDate && e.charge_type.counts_towards_spending? == spending }.sort { |a, b| a.id <=> b.id }

  - entries.each do |entry|
    .entry_draggable{ style: 'cursor:move', rel: 'tooltip', data: { title: (simple_format(entry.description) unless entry.description.blank?), entry_id: entry.id, html: 'true', billing_date: entry.billing_date.strftime('%m/%d/%Y') } }
      .calendar-entry-amount= entry.amount.to_currency
      .calendar-entry-name{ style: 'cursor:move' }
        = link_to(image_tag('001_15.png', style: 'border:none;vertical-align:baseline', size: '10x10', title: 'Not Charged'), mark_charged_entry_path(entry, authenticity_token: form_authenticity_token), remote: true, method: :post, confirm: "Are you sure you want to mark this entry as charged?\n\n#{entry.name}\n\n#{entry.amount.to_currency + ' ' + entry.charge_type.full_name}\n", id: "entry_#{entry.id}_mark_charged_link") unless entry.charged?
        = link_to entry.name, entry, style: "text-decoration:none;color:#{entry.charged? ? '#404040' : '#FFB475'};", id: "entry_#{entry.id}_name"
      %div{ style: 'display:none', data: { object: 'entry-helper' } }
        .entry-box
          = entry.amount.to_currency
          = entry.name
      %div{ style: 'clear:both' }
  - if entries.size > 0
    - total_amount = entries.collect { |e| e.amount }.sum
    .calendar-entry-amount{ class: "#{(total_amount > 0) ? (spending ? 'loss' : 'gain') : '' } #{total_amount < 0 ? (spending ? ' gain' : ' loss') : '' }", style: 'border-top:1px solid #777; font-weight: bold' }
      = total_amount.to_currency
    .calendar-entry-name
      Total
      = spending ? 'Spent' : 'Earned'
  %div{ style: 'clear:both' }
