<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @entries.total_count } %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'entries.name', 'Entry Name') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'entries.billing_date', 'Billing Date') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'entries.amount', 'Amount') %></th>
      <th>Charged</th>
      <th>Charge Type</th>
      <th>Account</th>
    </tr>
  </thead>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= link_to entry.name, entry, title: entry.description %></td>
      <td><%= simple_date(entry.billing_date) %></td>
      <td style="text-align:right"><%= entry.amount.to_currency %></td>
      <td style="text-align:center"><%= check_box_tag 'entry', 'charged', entry.charged?, disabled: true %></td>
      <td><%= link_to entry.charge_type.name, entry.charge_type %></td>
      <td><%= link_to entry.charge_type.account.name, entry.charge_type.account %></td>
    </tr>
  <% end %>
</table>
<center><%= paginate @entries, theme: "contour" %></center>
