<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@entry, html: { class: 'form-horizontal' }) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'entries/inner_form', locals: { f: f } %>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
