<% width = '914px' %>
<%= form_for(@entry, :html => {:multipart => true}) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= @title %></legend>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, :style => "width:#{width}" %>
    </div>
    
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 7, :style => "width:#{width}" %>
    </div>
    
    <div class="field">
      <%= f.label :billing_date %><br />
      <%= f.text_field :billing_date, :class => 'datepicker', :value => @entry.billing_date ? @entry.billing_date.strftime('%m/%d/%Y') : '' %>
    </div>
    
    <div class="field">
      <%= f.label :charged %><br />
      <%= f.check_box :charged %>
    </div>
    
    <div class="field">
      <%= f.label :charge_type_id %><br />
      <%= f.select :charge_type_id, [["----", nil]]  + current_user.charge_types.find(:all, :order => 'name').collect{|item| [item.full_name, item.id]} %>
    </div>
    
    <div class="field">
      <%= f.label :decimal_amount, 'Amount' %><br />
      <%= f.text_field :decimal_amount, :style => "width:#{width}" %>
    </div>
  </fieldset>
  
  <div class="actions">
    <% form_name = @entry.new_record? ? 'new_entry' : "edit_entry_#{@entry.id}" %>
    <%= link_to_function image_tag('icons/tick.png', :alt => '') + (@entry.new_record? ? "Create Entry" : "Update Entry"), "$('##{form_name}').submit();", :class => "button positive" %>
    <%= cancel %>
  </div>
<% end %>

<% content_for :script do %>
  <%= javascript_tag do %>
    Event.observe(window, 'load', function(){
      new Form.Element.Observer('entry_name', 0.25, function(element, value) {checkLength('entry_name', 'name_status', 1);});
      new Form.Element.Observer('entry_decimal_amount', 0.25, function(element, value) {checkRegex('entry_decimal_amount', 'amount_status', /^([-])?([0-9]*)([.]+[0-9]{0,2})?$/ );});
    });
  <% end %>
<% end %>
