= hidden_field_tag "from_calendar", params[:from_calendar].to_i


.form-group.row
  = form.label :name, class: "col-md-2 col-form-label"
  .col-md-10
    = form.text_field :name, class: "form-control#{" is-invalid" if entry.errors[:name].present?}", data: { object: "typeahead-entries", path: autocomplete_entries_path }, autocomplete: "off", id: "entry_name"
    = render "forms/invalid_feedback", object: entry, key: :name

.form-group.row
  = form.label :description, class: "col-md-2 col-form-label"
  .col-md-10
    = form.text_area :description, rows: [[7, entry.description.to_s.count("\n") + 1].max, 25].min, class: "form-control", data: { object: "expandable-text-area", default_rows: 7 }, id: "entry_description"

= render "forms/horizontal/date_field", form: form, object: entry, key: :billing_date
= render "forms/horizontal/check_box", form: form, object: entry, key: :charged

= render "forms/horizontal/select", form: form, object: entry, key: :charge_type_id, options: current_user.charge_types.order(:name, "accounts.name").collect{ |item| [item.full_name, item.id] }, include_blank: "Select charge type", id: true

= render "forms/horizontal/text_field", form: form, object: entry, key: :decimal_amount, key_name: "Amount", autocomplete: "off"
