= hidden_field_tag "from_calendar", params[:from_calendar].to_i

.form-group
  = form.label :name, class: "col-md-2 control-label"
  .col-md-10
    = form.text_field :name, class: "form-control", data: { object: "typeahead-entries", path: autocomplete_entries_path }, autocomplete: "off", id: "entry_name"
    = render "layouts/errors", object: @entry, key: :name

.form-group
  = form.label :description, class: "col-md-2 control-label"
  .col-md-10
    = form.text_area :description, rows: [[7, @entry.description.to_s.count("\n") + 1].max, 25].min, class: "form-control", data: { object: "expandable-text-area", default_rows: 7 }, id: "entry_description"

.form-group
  = form.label :billing_date, class: "col-md-2 control-label"
  .col-md-10
    = form.text_field :billing_date, class: "datepicker form-control", value: @entry.billing_date ? @entry.billing_date.strftime("%m/%d/%Y") : "", id: "entry_billing_date"
    = render "layouts/errors", object: @entry, key: :billing_date

.form-group
  .col-md-10.col-md-offset-2
    .checkbox
      %label
        = form.check_box :charged
        Charged

.form-group
  = form.label :charge_type_id, class: "col-md-2 control-label"
  .col-md-10
    = form.select :charge_type_id, [["----", nil]]  + current_user.charge_types.order(:name, "accounts.name").collect{|item| [item.full_name, item.id]}, {}, class: "form-control", id: "entry_charge_type"
    = render "layouts/errors", object: @entry, key: :charge_type_id

.form-group
  = form.label :decimal_amount, "Amount", class: "col-md-2 control-label"
  .col-md-10
    = form.text_field :decimal_amount, class: "form-control", autocomplete: "off", id: "entry_amount"
