= hidden_field_tag 'from_calendar', params[:from_calendar].to_i

.form-group
  = f.label :name, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :name, class: 'form-control', data: { object: 'typeahead', path: autocomplete_entries_path }, autocomplete: 'off'

.form-group
  = f.label :description, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_area :description, rows: [[7, @entry.description.to_s.count("\n") + 1].max, 25].min, class: 'form-control', data: { object: 'expandable-text-area', default_rows: 7 }

.form-group
  = f.label :billing_date, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :billing_date, class: 'datepicker form-control', value: @entry.billing_date ? @entry.billing_date.strftime('%m/%d/%Y') : ''

.form-group
  .col-md-10.col-md-offset-2
    .checkbox
      %label
        = f.check_box :charged
        Charged

.form-group
  = f.label :charge_type_id, class: 'col-md-2 control-label'
  .col-md-10
    = f.select :charge_type_id, [["----", nil]]  + current_user.charge_types.order(:name, 'accounts.name').collect{|item| [item.full_name, item.id]}, {}, class: 'form-control'

.form-group
  = f.label :decimal_amount, 'Amount', class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :decimal_amount, class: 'form-control', autocomplete: 'off'
