<% @month_entries = current_user.entries.with_date_for_calendar(@start_month, @end_month) %>

<% gross_spending = @month_entries.select{|e| e.charge_type.counts_towards_spending?}.collect{|e| e.amount}.sum %>
<% gross_income = @month_entries.select{|e| not e.charge_type.counts_towards_spending?}.collect{|e| e.amount}.sum %>
<% net_profit = gross_income - gross_spending %>

<div style="float:right;text-align:right;margin-top:-70px">
  <b>Gross Income</b> <%= gross_income.to_currency %><br />
  <b>Spending</b> <%= gross_spending.to_currency %><br />
  <b>Net <%= (net_profit < 0) ? "<span class='loss'>Loss</span>".html_safe : "<span class='gain'>Profit</span>".html_safe %></b> <span class="<%= (net_profit < 0) ? 'loss' : '' %><%= (net_profit > 0) ? 'gain' : '' %>"><%= net_profit.to_currency %></span>
</div>
