<% @width = '520px' %>
<div id="new-entry-dialog" title="Create new Entry:">

      <% @entry = current_user.entries.new %>
      <%= form_for(@entry) do |f| %>
        <%= params[:from_calendar] = '1'; render partial: 'entries/inner_form', locals: { f: f } %>

        <br />
        <div class="actions">
          <% form_name = @entry.new_record? ? 'new_entry' : "edit_entry_#{@entry.id}" %>
          <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@entry.new_record? ? "Create Entry" : "Update Entry"), "$('##{form_name}').submit();", class: "button positive" %>
          <%= link_to_function image_tag('gentleface/16/cancel.png', alt: '') + 'Cancel', "$( '#new-entry-dialog' ).dialog('close');", class: 'button negative' %>
        </div>

      <% end %>
</div>

<%= javascript_tag do %>
  $( "#new-entry-dialog" ).dialog({
    autoOpen: false,
    height: 500,
    width: 580,
    modal: true,
    buttons:{}
  });
<% end %>
