<% @title = 'Calendar' %>

<h4 style="font-size:27px;font-weight:300"><%= render partial: 'calendar_title' %></h4>

<div class="row" style="margin-top: -10px;">
  <div class="col-xs-8" style="text-align:center">
    <div class="btn-toolbar">
      <div class="btn-group" >
        <%= link_to 'Today', root_path, class: 'btn btn-xs btn-default' %>
      </div>
      <div class="btn-group" style="white-space:nowrap">
        <%= link_to '&larr;'.html_safe, calendar_path(date: (@start_date - 1.month).strftime("%Y%m%d")), title: 'Previous Month', class: 'btn btn-xs btn-default', style: 'margin-right:-1px' %>
        <%= text_field_tag :selected_date, @selected_date.strftime('%m/%d/%Y'), class: 'datepicker btn btn-xs btn-default', style: 'width:85px;margin-bottom:1px' %>
        <%= link_to '&rarr;'.html_safe, calendar_path(date: (@start_date + 1.month).strftime("%Y%m%d")), class: 'btn btn-xs btn-default' %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'entries/month_breakdown' %>

<%= render partial: 'new_entry_dialog' %>

<%= render partial: 'accounts/month_spending' %>
