- @title = "#{Date::MONTHNAMES[@date.month]} #{@date.year}"

- content_for :header do
  .float-right
    .btn-group
      = link_to icon("fas", "caret-left"), calendar_path(date: (@start_month - 1.month).strftime("%Y%m%d")), title: "Previous Month", class: "btn btn-sm btn-light"
      = link_to "Today", root_path, class: "btn btn-sm btn-light"
      = link_to icon("fas", "caret-right"), calendar_path(date: (@start_month + 1.month).strftime("%Y%m%d")), class: "btn btn-sm btn-light"
  = render "entries/calendar_title"

= render "entries/month_breakdown"
= render "entries/new_entry_dialog"

#month-spending
  = render "accounts/month_spending"
