<% @title = 'Current Balance' %>

<h1><%= @title %></h1>

<div class="frame">
  <table class="blank padded" style="width:100%;table-layout:fixed;border-width:0px">
    <tr>
      <td valign="top" style="border-width:0px">
        <table class="blank padded">
          <% current_user.accounts.each do |account| %>
            <tr>
              <td>Balance <%= link_to account.name, account %></td>
              <td id="account_<%= account.id %>_balance" style="text-align:right"><%= account.balance.to_currency %></td>
              <td><%= link_to_function 'copy', "$('#amount_left').val(#{account.balance / 100.0});"  %></td>
            </tr>
          <% end %>
          <% total_assets = current_user.accounts.collect(&:balance).sum %>
          <tr>
            <td>Total Assets</td>
            <td style="text-align:right"><%= total_assets.to_currency %></td>
          </tr>

          <tr>
            <td>Amount Left</td>
            <td>
              <% today = Date.today %>
              <%= text_field_tag 'amount_left' %>
            </td>
          </tr>

          <tr>
            <td>Estimated Spending</td>
            <td><%= text_field_tag 'estimated_spending' %></td>
          </tr>

          <tr>
            <td>Amount Left Over</td>
            <td><%= text_field_tag 'amount_left_over', 0 %></td>
          </tr>

          <tr>
            <td>Next Pay Check</td>
            <td>
              <%= text_field_tag 'paycheck_day', (Date.parse("#{today.year}/#{today.month}/01")+1.month).strftime('%m/%d/%Y'), class: 'datepicker' %>
            </td>
          </tr>

          <tr>
            <td>Maximum Spending Per Day</td>
            <td id="left_to_spend_per_day_this_month" style="text-align:right"></td>
            <td><%= link_to_function 'calculate', "calculateEndOfMonthSpending();" %></td>
          </tr>
        </table>
      </td>
      <td valign="top" style="border-width:0px">
        <table class="blank padded">
          <% current_user.accounts.each do |account| %>
            <tr>
              <td>Charged Balance <%= link_to account.name, account %></td>
              <td style="text-align:right"><%= account.charged_balance.to_currency %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </table>
</div>
