<% @title = 'Current Balance' %>
<div class="page-header">
  <h1><%= @title %></h1>
</div>

<table style="width:100%;table-layout:fixed;">
  <tr>
    <td valign="top" style="border-width:0px">
      <table class="table table-striped table-bordered">
        <% current_user.accounts.each do |account| %>
          <tr>
            <td>Balance <%= link_to account.name, account %></td>
            <td id="account_<%= account.id %>_balance" style="text-align:right"><%= account.balance(:amount).to_currency %></td>
            <td><%= link_to 'copy', '#', data: { object: 'copy', amount: "#{account.balance(:amount) / 100.0}", target: '#amount_left' }, class: 'btn btn-xs btn-default btn-block' %></td>
          </tr>
        <% end %>
        <% total_assets = current_user.accounts.collect{|a| a.balance(:amount)}.sum %>
        <tr>
          <td>Total Assets</td>
          <td style="text-align:right"><%= total_assets.to_currency %></td>
          <td></td>
        </tr>

        <tr>
          <td>Amount Left</td>
          <td colspan="2" style="text-align:right">
            <% today = Date.today %>
            <%= text_field_tag 'amount_left', nil, class: 'form-control' %>
          </td>
        </tr>

        <tr>
          <td>Estimated Spending</td>
          <td colspan="2" style="text-align:right"><%= text_field_tag 'estimated_spending', nil, class: 'form-control' %></td>
        </tr>

        <tr>
          <td>Amount Left Over</td>
          <td colspan="2" style="text-align:right"><%= text_field_tag 'amount_left_over', 0, class: 'form-control' %></td>
        </tr>

        <tr>
          <td>Next Pay Check</td>
          <td colspan="2" style="text-align:right">
            <%= text_field_tag 'paycheck_day', (Date.parse("#{today.year}/#{today.month}/01")+1.month).strftime('%m/%d/%Y'), class: 'datepicker form-control' %>
          </td>
        </tr>

        <tr>
          <td>Maximum Spending Per Day</td>
          <td id="left_to_spend_per_day_this_month" style="text-align:right"></td>
          <td><%= link_to 'calculate', '#', data: { object: 'month-spending-calculate' }, class: 'btn btn-primary btn-xs btn-block' %></td>
        </tr>
      </table>
    </td>
    <td valign="top" style="border-width:0px">
      <table class="table table-striped table-bordered">
        <% current_user.accounts.each do |account| %>
          <tr>
            <td>Charged Balance <%= link_to account.name, account %></td>
            <td style="text-align:right"><%= account.balance(:charged_amount).to_currency %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>
