- @title = 'Current Balance'
.page-header
  %h1= @title


%table.table.table-striped.table-hover.table-fixed
  %thead
    %tr
      %th Account
      %th.text-right Charged Balance
      %th.text-right Final Balance
  - total_assets = current_user.accounts.collect { |a| a.balance(:amount) }.sum
  %tfoot
    %th{ colspan: 2 } Total Assets
    %th.text-right= total_assets.to_currency
  %tbody
    - current_user.accounts.order(:name).each do |account|
      %tr
        %td= link_to account.name, account
        %td.text-right= account.balance(:charged_amount).to_currency
        %td.text-right= account.balance(:amount).to_currency
