<% @title = 'Entries' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Entry", new_entry_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= form_tag entries_path, method: :get, class: 'form-inline', id: 'entry-form' do %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= text_field_tag 'search', params[:search], class: 'form-control' %>
  <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
  <%= link_to 'Reset', entries_path, class: 'btn btn-default' %>

  <%= hidden_field_tag :charged, params[:charged] %>

  <div class="btn-group" data-toggle="buttons">
    <label data-object="set-value" data-target="#charged" data-form="#entry-form" data-value="all" class="btn btn-default <%= 'active' unless ['uncharged'].include?(params[:charged]) %>">
      All
    </label>
    <label data-object="set-value" data-target="#charged" data-form="#entry-form" data-value="uncharged" class="btn btn-default <%= 'active' if ['uncharged'].include?(params[:charged]) %>">
      Not Charged
    </label>
  </div>
<% end %>

<%= render partial: 'entries/entries' %>
