<% @title = 'Entries' %>
<div class="title">
  <%= form_tag entries_path, :method => :get, :remote => true, :id => 'search-form' do %>
    <%= @title %>
    <%= link_to 'new', new_entry_path %>
    <%= link_to 'find', '#' %> <%= text_field_tag 'search', '', :size => 30 %>
    <%= link_to 'charged', '#' %> <%= check_box_tag 'charged', '1', true %>
  <% end %>
</div>

<div class="content">
  <div class="search" id="entries"></div>
</div>