<% @title = 'Entries' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Entry", new_entry_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag entries_path, method: :get, remote: true, class: 'form-search', data: { object: 'form-load' } do %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <label class="checkbox"><%= check_box_tag 'charged', '1', true %> charged</label>
<% end %>

<div class="search" id="entries"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
