<% @title = 'Earning and Spending' %>
<h1><%= @title %></h1>

<div style="text-align:center;margin-top:-10px;float:middle">
  <%= form_tag earning_spending_graph_entries_path, remote: true, method: :get, data: { object: 'form-load' } do %>
    <%= link_to '&laquo;'.html_safe, '#', style: 'text-decoration:none', title: 'Previous Year', data: { object: 'previous-year' } %>
    <%= hidden_field_tag :month, '1' %>
    <%= select_tag :year, options_for_select( (current_user.first_billing_date.year..Date.today.year).to_a, Date.today.year ) %>
    <%= link_to '&raquo;'.html_safe, '#', style: 'text-decoration:none', title: 'Next Year', data: { object: 'next-year' } %>
  <% end %>
  <div id="month_chart"></div>
  <br /><br />
  <div id="earning_spending"></div>
  <br /><br />
</div>

<%= javascript_tag do %>
function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
      window.onload = func;
    } else {
      window.onload = function() {
        if (oldonload) {
          oldonload();
        }
        func();
      }
    }
  }
<% end %>

<%= draw_chart('highcharts', 'column', {'Gross Spending' => @gross_spending, 'Gross Income' => @gross_income, 'Net Profit' => @net_profit}, "year_chart", {title: "Full Overview", width: '100%', height: 450}, (current_user.first_billing_date.year..Date.today.year).to_a) %>
