<% @title = "Entry: #{@entry.name}" %>

<h1><%= @title %></h1>

<%= link_to image_tag('contour/edit.png', alt: '') + "Edit Entry", edit_entry_path(@entry), :class => 'button' %>
<%= link_to image_tag('contour/delete.png', alt: '') + "Delete Entry", @entry, :confirm => "Are you sure you want to delete Entry #{@entry.name}?", :method => :delete, :class => 'button negative' %>	
<%= link_to image_tag('contour/mydocuments.png', alt: '') + "View All Entries", entries_path, :class => 'button' %>
<%= link_to image_tag('contour/feed.png', alt: '') + "Copy Entry", copy_entry_path(@entry), :class => 'button' %>

<div style="clear:both"></div>

<pre><%= @entry.description %></pre>
<br />

<p>
  <b>Billing Date:</b>
  <%= simple_date(@entry.billing_date) %>
</p>

<p>
  <b>Amount:</b>
  <%= @entry.amount.to_currency %>
</p>

<p>
  <b>Charged:</b>
  <%= check_box_tag 'entry', 'charged', @entry.charged?, :disabled => true %>
</p>

<p>
  <b>Charge Type:</b>
  <%= @entry.charge_type.full_name %>
</p>