<% @title = "Entry: #{@entry.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Entry", edit_entry_path(@entry), class: 'btn btn-mini' %>
    <%= link_to "Delete Entry", @entry, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Entry #{@entry.name}?" } %>
    <%= link_to "View Entries", entries_path, class: 'btn btn-mini' %>
    <%= link_to "Copy Entry", copy_entry_path(@entry), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Billing Date</dt>
  <dd><%= simple_date(@entry.billing_date) %></dd>

  <dt>Amount</dt>
  <dd><%= @entry.amount.to_currency %></dd>

  <dt>Charged</dt>
  <dd><%= check_box_tag 'entry', 'charged', @entry.charged?, disabled: true %></dd>

  <dt>Charge Type</dt>
  <dd><%= @entry.charge_type.full_name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @entry.description %></dd>
</dl>
