- @title = @entry.name

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_entry_path(@entry) do
                  %span.glyphicon.glyphicon-edit
                  Edit
              %li
                = link_to copy_entry_path(@entry) do
                  %span.glyphicon.glyphicon-copy
                  Copy
              %li.divider{ role: 'separator' }
              %li
                = link_to @entry, method: :delete, data: { confirm: "Delete #{@entry.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete
        = @title

.dashboard-container
  %dl.dl-horizontal
    %dt Billing Date
    %dd= simple_date @entry.billing_date

    %dt Amount
    %dd= @entry.amount.to_currency

    %dt Charged
    %dd= simple_check @entry.charged?

    %dt Charge Type
    %dd= @entry.charge_type.full_name

    %dt Description
    %dd= simple_format @entry.description
