.search-container-relative
  .search-container{ class: params[:search].present? ? "search-container-visible" : nil }
    = form_with url: url, method: :get, local: true, id: "search-form" do
      = hidden_field_tag :order, params[:order]
      .input-group
        = text_field_tag :search, params[:search], autocomplete: "off", class: "form-control", placeholder: "Search #{@title}"
        .input-group-append
          = link_to icon("fas", "times"), url, class: "btn btn-search-clear" if params[:search].present?
          = link_to icon("fas", "search"), "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#search-form" }
