= form_with model: template, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: template, key: :name

  .form-group.row
    %label.col-md-2.col-form-label Items
    .col-md-10
      = link_to "Add Item", add_item_templates_path, method: :post, remote: true, class: "btn btn-sm btn-light", style: "margin-top: 6px"
  #items{ data: { object: "sortable" } }
    = hidden_field_tag "template[item_ids][]", nil
    - @template.template_items.each do |template_item|
      = render "template_items/form", template_item: template_item

  = render "forms/horizontal/submit", form: form, object: template
