- @title = "Edit Template - #{@template.name_was}"

- content_for :header, @template.name_was
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "templates", templates_path
    %li= link_to @template.name_was.to_s.downcase, @template
    %li.breadcrumb-muted edit
- content_for :sidebar, render("internal/sidebar_setup")

.dashboard-container= render "templates/form", template: @template
