<% @title = 'Sign Up' %>

<div class="title"><%= @title %></div>

<div class="content">
  <div class="form">
    <%= form_tag users_path, :method => :post do %>
      <table class="form">
        <tr><td><label for="first_name">First Name</label></td><td><%= text_field :user, :first_name %></td><td class="field-status" id="first_name_status"></td></tr>
        <tr><td><label for="last_name">Last Name</label></td><td><%= text_field :user, :last_name %></td><td class="field-status" id="last_name_status"></td></tr>
        <tr><td><label for="login">Login</label></td><td><%= text_field :user, :login %></td><td class="field-status" id="login_status"></td></tr>
        <tr><td><label for="email">Email</label></td><td><%= text_field :user, :email %></td><td class="field-status" id="email_status"></td></tr>
        <tr><td><label for="password">Password</label></td><td><%= password_field :user, :password %></td><td class="field-status" id="password_status"></td></tr>
        <tr><td><label for="password_confirmation">Confirm Password</label></td><td><%= password_field :user, :password_confirmation %></td><td class="field-status" id="password_confirmation_status"></td></tr>
      </table>
      <div class="submit"><%= submit_tag 'Sign up' %></div>
    <% end %>
  </div>
</div>

<%= validation_errors(@user) %>

<% content_for :script do %>
  <%= javascript_tag do %>
    Event.observe(window, 'load', function(){
      new Form.Element.Observer('user_first_name', 0.25, function(element, value) {checkLength('user_first_name', 'first_name_status', 2);});
      new Form.Element.Observer('user_last_name', 0.25, function(element, value) {checkLength('user_last_name', 'last_name_status', 2);});
      new Form.Element.Observer('user_login', 0.25, function(element, value) {checkRegex('user_login', 'login_status', /^[A-Z]{4}[A-Z0-9_]*$/i );});
      new Form.Element.Observer('user_email', 0.25, function(element, value) {checkRegex('user_email', 'email_status', /^( )*[A-Z0-9._%-]+@([A-Z0-9-]+\\.)+[A-Z]{2,4}( )*$/i );});
      new Form.Element.Observer('user_password', 0.25, function(element, value) {checkLength('user_password', 'password_status', 6);});
      new Form.Element.Observer('user_password_confirmation', 0.25, function(element, value) {checkMatch('user_password', 'user_password_confirmation', 'password_confirmation_status');});
    });
  <% end %>
<% end %>
