<% @defaults = { width: 320, height: 240, units: '', title: '', legend: 'right' } %>
<% @defaults.merge!(@chart_params) %>

<div><div id="<%= @chart_element_id %>" style="width: <%= @defaults[:width] %>px;height: <%= @defaults[:height] %>px"></div></div>

<%= javascript_tag do %>
addLoadEvent(function() {
  <% case @chart_type when 'column' %>
    <%= "drawHighChartHistogramChart('#{@chart_element_id}', #{@values.to_json}, #{@defaults.to_json}, #{@categories.to_json});".html_safe %>
  <% else %>
    <%= "drawHighChartPieChart('#{@chart_element_id}', #{@values.to_json}, #{@defaults.to_json});".html_safe %>
  <% end %>
});
<% end %>
