<table class="form">
  <tr><td><%= label :charge_type, :name %></td><td><%= text_field :charge_type, :name %></td><td class="field-status" id="name_status"></td></tr>
  <tr><td><%= label :charge_type, :counts_towards_spending %></td><td><%= check_box :charge_type, :counts_towards_spending %></td></tr>
  <tr><td><%= label :charge_type, :account_id %></td><td><%= select :charge_type, :account_id, [["----", nil]]  + current_user.accounts.find(:all, :order => 'name').collect{|item| [item.name, item.id]}, {}, {:style => "width:250px;"} %></td><td class="field-status" id="account_id_status"></td></tr>
</table>

<%= validation_errors(@charge_type) %>

<% content_for :script do %>
  <%= javascript_tag do %>
    Event.observe(window, 'load', function(){
      new Form.Element.Observer('charge_type_name', 0.25, function(element, value) {checkLength('charge_type_name', 'name_status', 1);});
    });
  <% end %>
<% end %>