= form_with model: charge_type, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: charge_type, key: :name
  = render "forms/horizontal/check_box", form: form, object: charge_type, key: :counts_towards_spending
  = render "forms/horizontal/select", form: form, object: charge_type, key: :account_id, options: current_user.accounts.order(:name).pluck(:name, :id), include_blank: true
  = render "forms/horizontal/submit", form: form, object: charge_type
