= form_for @charge_type, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'
      = render 'layouts/errors', object: @charge_type, key: :name

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :counts_towards_spending
          Counts Towards Spending

  .form-group
    = f.label :account_id, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :account_id, [['----', nil]]  + current_user.accounts.order(:name).pluck(:name, :id), {}, class: 'form-control'
      = render 'layouts/errors', object: @charge_type, key: :account_id

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @charge_type.new_record? ? charge_types_path : @charge_type, class: 'btn btn-light'
