<% width = '914px' %>
<%= form_for(@charge_type) do |f| %>
  <% if @charge_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge_type.errors.count, "error") %> prohibited this charge type from being saved:</h2>

      <ul>
      <% @charge_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= @title %></legend>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, style: "width:#{width}" %>
    </div>

    <div class="field">
      <%= f.label :counts_towards_spending %><br />
      <%= f.check_box :counts_towards_spending %>
    </div>

    <div class="field">
      <%= f.label :account_id %><br />
      <%= f.select :account_id, [["----", nil]]  + current_user.accounts.find(:all, order: 'name').collect{|item| [item.name, item.id]} %>
    </div>

  </fieldset>

  <div class="actions">
    <% form_name = @charge_type.new_record? ? 'new_charge_type' : "edit_charge_type_#{@charge_type.id}" %>
    <%= link_to_function image_tag('gentleface/16/checkmark.png', alt: '') + (@charge_type.new_record? ? "Create Charge Type" : "Update Charge Type"), "$('##{form_name}').submit();", class: "button positive" %>
    <%= cancel %>
  </div>
<% end %>

<% content_for :script do %>
  <%= javascript_tag do %>
    Event.observe(window, 'load', function(){
      new Form.Element.Observer('charge_type_name', 0.25, function(element, value) {checkLength('charge_type_name', 'name_status', 1);});
    });
  <% end %>
<% end %>
