<% @title = 'Charge Types' %>
<h1>
  <%= form_tag charge_types_path, :method => :get, :remote => true, :id => 'search-form' do %>
    <%= @title %>
    <%= link_to 'new', new_charge_type_path %>
    <%= link_to 'find', '#' %> <%= text_field_tag 'search', '', :size => 30 %>
  <% end %>
</h1>

<div class="search" id="charge_types"></div>