- @title = @charge_type.name

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_charge_type_path(@charge_type) do
                  %i.fa.fa-edit
                  Edit
              %li.divider{ role: 'separator' }
              %li
                = link_to @charge_type, method: :delete, data: { confirm: "Delete #{@charge_type.name}?" } do
                  .text-danger
                    %i.fa.fa-trash
                    Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    %tr
      %th Account
      %td= link_to @charge_type.account.name, @charge_type.account

    %tr
      %th Counts Towards Spending
      %td= check_box_tag 'counts', 'towards_spending', @charge_type.counts_towards_spending?, disabled: true

    %tr
      %th Total Spent
      %td= @charge_type.total_spent.to_currency
