!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %meta{ name: "description", content: "A home finance tracker using Ruby on Rails. Calendar views to see spending and overall charts to see monthly and yearly spending." }
    %meta{ name: "author", content: "Remo Mueller" }
    %meta{ name: "keywords", content: "personal balance, budget tracking, multiple accounts, daily spending" }
    -# Don't cache any pages
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %title= [@title, ENV["website_name"]].compact.join(" - ").html_safe
    = favicon_link_tag
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url='#{request.script_name + "/"}';"
  %body#top{ class: yield(:body_class) }
    - unless @simple_layout
      #top-menu.top-menu= render "layouts/menu"
      = render "layouts/flash_messages"
    = yield :header
    .container.body-content
      = yield
    = yield :footer
