= form_with model: account, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: account, key: :name
  = render "forms/horizontal/check_box", form: form, object: account, key: :archived, help_text: "Archived accounts do not display in current balance."
  = render "forms/horizontal/select", form: form, object: account, key: :category, options: Account::CATEGORIES
  = render "forms/horizontal/submit", form: form, object: account
