<table class="show">
  <tr><td>Start Date</td><td><%= @start_date %></td></tr>
  <tr><td>End Date</td><td><%= @end_date %></td></tr>

  <% current_user.accounts.each do |account| %>
    <tr><td><%= account.name %></td><td><%= account.spent_in_time_period(@start_date, @end_date).to_currency %></td>
    <td>Daily Avg</td><td><%= account.average_spent_over_time_period(@start_date, @end_date).to_currency %></td></tr>
  <% end %>

  <tr><td>Total</td><td><%= current_user.spent_in_time_period(@start_date, @end_date).to_currency %></td>
  <td>Daily Avg</td><td><%= current_user.average_spent_over_time_period(@start_date, @end_date).to_currency %></td></tr>
</table>