<div class="page-header">
  <h3>Spending This Month</h3>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Account</th>
      <th>Spending</th>
      <th>Daily Average</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.accounts.each do |account| %>
      <% unless account.spent_in_time_period(@start_month, @end_month) == 0 %>
        <tr>
          <td><%= link_to account.name, account %></td>
          <td style="text-align:right"><%= account.spent_in_time_period(@start_month, @end_month).to_currency %></td>
          <td style="text-align:right"><%= account.average_spent_over_time_period(@start_month, @end_month).to_currency %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr style="font-weight:bold">
      <td>Total</td>
      <td style="text-align:right"><%= current_user.spent_in_time_period(@start_month, @end_month).to_currency %></td>
      <td style="text-align:right"><%= current_user.average_spent_over_time_period(@start_month, @end_month).to_currency %></td>
    </tr>
  </tfoot>
</table>
