<table class="show">
  <tr>
    <td>Total</td>
    <td style="text-align:right"><%= current_user.spent_in_time_period(@start_date, @end_date).to_currency %></td>
    <td>Daily Avg</td>
    <td style="text-align:right"><%= current_user.average_spent_over_time_period(@start_date, @end_date).to_currency %></td>
  </tr>
  <% current_user.accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, account %></td>
      <td style="text-align:right"><%= account.spent_in_time_period(@start_date, @end_date).to_currency %></td>
      <td>Daily Avg</td>
      <td style="text-align:right"><%= account.average_spent_over_time_period(@start_date, @end_date).to_currency %></td>
    </tr>
  <% end %>
</table>