- @title = "Accounts"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or("New Account"), new_account_path, class: "btn btn-accent btn-shadow"
          .per-page= render "layouts/per_page", per_page: 40, object_count: @accounts.total_count
        = @title
        = render "search/toggle"

= render "search/simple", url: accounts_path

%table.table.table-striped.shadow
  %thead
    %tr
      %th Account Name
      %th Category
      %th Charge Types
      %th.text-center Archived
  %tbody
    - @accounts.each do |account|
      %tr
        %td= link_to account.name, account
        %td= account.category_name
        %td= account.charge_types.collect { |charge_type| link_to charge_type.name, charge_type }.join(", ").html_safe
        %td.text-center= simple_check account.archived?

.center-horizontally= paginate @accounts, theme: "bootstrap"
