- @title = @account.name

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown", edit_url: edit_account_path(@account), delete_url: @account, delete_confirmation: "Delete #{@account.name}?"
  = @title
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "accounts", accounts_path
    %li.breadcrumb-muted= @account.name.to_s.downcase
- content_for :sidebar, render("internal/sidebar_setup")

.dashboard-container
  = render "forms/horizontal/show/text", object: @account, key: :category_name
  = render "forms/horizontal/show/generic", title: "Current balance", content: @account.balance(:amount).to_currency
  = render "forms/horizontal/show/generic", title: "Total spent", content: @account.total_spent.to_currency
  = render "forms/horizontal/show/generic", title: "Charge types", content: render("accounts/charge_types", account: @account)
