<% @title = "Account #{@account.name}" %>

<div class="title">
  <%= @title %> 
	<%= link_to 'edit', edit_account_path(@account) %>
	<%= link_to 'delete', @account, :method => :delete, :confirm => 'Are you sure you want to delete this account?' %>
	<%= link_to 'view all', accounts_path %>
</div>

<div class="content">
  <table class="show">
    <tr><td>Current Balance</td><td><%= @account.balance.to_currency %></td></tr>
    <tr><td>Total Spent</td><td><%= @account.total_spent.to_currency %></td></tr>
    <tr>
      <td>Charge Types</td>
      <td>
        <% @account.charge_types.each do |charge_type| %>
          <%= charge_type.name %><br />
        <% end %>
      </td>
    </tr>
  </table>
</div>
